* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

body {

}

.google-maps {
    height: 100%;
}

.pac-container {
    border-radius: 0 0 10px 10px;
}

.pac-container::after {
    background-image: none !important;
    display: none !important;
}

.pac-item {
    padding: 10px;
    overflow: hidden;
    font-size: 16px;
    margin: 0 17px !important;
}

.pac-item-query {
    font-size: 13px;
}

.google-maps__search {
    max-width: 1010px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 10px 10px;
    z-index: 1;

}

.pac-icon {
    display: none;
}

.google-maps__search-inner {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

}

.google-maps__search input {

    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 53px;
}

.google-maps__search input:focus {
    outline: 0;
}

.google-maps__button {
    position: absolute;
    left: 100%;
    transform: translatex(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background: #656afc;
}

.google-maps__button svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}

#map-canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.marker {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    z-index: 10000 !important;
}

.blackout {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.blackout--enabled {
    display: block;
}

.placemark--daH26 {
    align-items: center;
    background-color: #656afc;
    border-radius: 50%;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 64px;

}

.placemark--daH26:after {
    border-radius: 2px;
    position: relative;
    bottom: -28px;
    content: "";
    height: 34px;
    opacity: 1;
    width: 4px;
    background-color: #656afc;
}

.label-container--aBo8C {

}

.label-container--aBo8C:after {
    position: relative;
    top: 100%;
    background-color: white;
    border-radius: 50%;
    content: "";
    display: block;
    height: 18px;
    width: 18px;
}
.marker-wrapper{
    width: 64px;
    height: 64px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}